---
version: 0.1.0
author: Owain Lewis
description: ...
model: gpt-4o
---
Generate a LinkedIn post:

Brief: {{ brief }}

Follow the examples below: 

<examples>
<example>
{{ example_1 }}
</example>
</examples>